<?xml version="1.0"?>
<launch>
  <param name="/use_sim_time" value="true"/>
  <node name="transform" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 map laser_front 10" />
 <!-- <node name="mapServer" pkg="map_server" type="map_server" args="$(find mapwork)/slammap.yaml" /> -->
  <node pkg="costmap_2d" type="costmap_2d_markers" name="voxel_visualizer">
    <remap from="voxel_grid" to="costmap/voxel_grid"/>
  </node>
  <node name="costmap_node" pkg="costmap_2d" type="costmap_2d_node">
    <rosparam file="$(find costmap_2d)/launch/copy.yaml" command="load" ns="costmap" />
  </node>
  <node name="visualizer" pkg="rviz" type="rviz"/>
</launch>

