<?xml version="1.0"?>

<model>
  <version>1.0</version>
  <name>Drive2PowerTech</name>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Frederik Johannes Christensen</name>
    <email>fjch18@student.aau.dk</email>
  </author>

  <description>
    A model of the Drive2 Power Tech Yamaha Golfcart
  </description>
</model>
