<?xml version ="1.0" ?>

<robot name="golf_cart" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <link name="base_link">
        <visual>
            <origin rpy="1.570796 0 0" xyz="-1.2375 0.65 0"/>
            <geometry>
                <mesh filename="package://cart_sim/meshes/golfcar.dae"/>
            </geometry>
        </visual>
    </link>
</robot>
