<?xml version ="1.0" ?>

<robot name="cart_model" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <link name="base_link">
        <visual>
            <origin rpy="1.570796 0 0" xyz="-1.2375 0.65 0"/>
            <geometry>
                <mesh filename="package://cart_sim/meshes/golfcar.dae"/>
            </geometry>
        </visual>
    </link>

    <link name="world">
        <origin rpy="0 0 0" xyz="0 0 0"/>
      </link>

        <joint name="world_to_base" type="fixed">
          <origin xyz="0 0 0"/>
          <parent link="world"/>
          <child link="base_link"/>
        </joint>

      <joint name="base_to_lms" type="fixed">
        <origin xyz="0 0 0"/>
        <parent link="base_link"/>
        <child link="lms_link"/>
      </joint>

    <link name="lms_link">
        <visual>
          <geometry>
            <mesh filename="package://cart_sim/meshes/LMS.dae"/>
          </geometry>
          <origin rpy="0 0 -1.570796" xyz="1 0.058815 0.57"/>
        </visual>
    </link>

      <joint name="base_to_tim" type="fixed">
        <origin xyz="0 0 0"/>
        <parent link="base_link"/>
        <child link="tim_link"/>
      </joint>

    <link name="tim_link">
          <visual>
            <geometry>
              <mesh filename="package://cart_sim/meshes/TIM.dae"/>
            </geometry>
            <origin rpy="1.570796 0.2094395 0" xyz="0.7 0 1.61"/>
          </visual>
      </link>

      <joint name="base_to_D455" type="fixed">
        <origin xyz="0 0 0"/>
        <parent link="base_link"/>
        <child link="D455_link"/>
      </joint>

    <link name="D455_link">
          <visual>
            <geometry>
              <mesh filename="package://cart_sim/meshes/D455.dae"/>
            </geometry>
            <origin rpy="1.3613565 0 -1.570796" xyz="0.72 0 1.71"/>
          </visual>
      </link>
</robot>
